# Python cache
__pycache__/
*.pyc

# Database
*.sqlite3
db.sqlite3

# Python Virtual Environment
venv/
.venv/
lf/

# Frontend Assets (Specific path)
frontend/src/assets/
frontend/src/assest/

# Node Modules (To prevent that infinite loop again)
node_modules/
frontend/node_modules/

# Environment Variables & OS files
.env
.DS_Store
Thumbs.db

